<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" id="WebApp_ID" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>DPDTH</display-name>
	
	<listener>
  		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

    <context-param>
		<param-name>contextConfigLocation</param-name>
   		<param-value>/WEB-INF/spring/spring-context.xml</param-value>
 	</context-param>
	<!--  added by pratap for pull sms -->
	<servlet>
		<servlet-name>pullSms</servlet-name>
		<servlet-class>com.ibm.virtualization.ussdactivationweb.reports.servlet.PullSmsForTsmServlet</servlet-class>
	</servlet>
	<!--  end by pratap -->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>1</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>1</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>queryConfig</param-name>
			<param-value>/WEB-INF/conf/Query.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>TilesServet</servlet-name>
		<servlet-class>org.apache.struts.tiles.TilesServlet</servlet-class>
		<init-param>
			<param-name>definitions-config</param-name>
			<param-value>/WEB-INF/tiles-defs.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<!--  servlet>
		<servlet-name>CacheLoaderServlet</servlet-name>
		<servlet-class>com.ibm.dpmisreports.common.CacheLoaderServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet-->
	
	
	<servlet>
		<description>
		</description>
		<display-name>ExportAssignStockServlet</display-name>
		<servlet-name>ExportAssignStockServlet</servlet-name>
		<servlet-class>com.ibm.hbo.actions.ExportAssignStockServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>com_ibm_dp_webServices_local_RetailerInfoWebservice</servlet-name>
		<servlet-class>
		com.ibm.dp.webServices.local.RetailerInfoWebservice</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>com_ibm_dp_webServices_local_OpenStockDepleteWebservice</servlet-name>
		<servlet-class>
		com.ibm.dp.webServices.local.OpenStockDepleteWebservice</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>GetProperties</servlet-name>
		<servlet-class>
		com.ibm.dp.actions.GetProperties</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>com_ibm_dp_webServices_local_STBStatusWebservice</servlet-name>
		<servlet-class>
		com.ibm.dp.webServices.local.STBStatusWebservice</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>com_ibm_dp_webServices_local_POStatusUpdateWebservice</servlet-name>
		<servlet-class>
		com.ibm.dp.webServices.local.POStatusUpdateWebservice</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>com_ibm_dp_webServices_local_DistributorSTBMapping</servlet-name>
		<servlet-class>
		com.ibm.dp.webServices.local.DistributorSTBMapping</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>com_ibm_dp_webServices_local_WarehouseMstFrmBotreeWebService</servlet-name>
		<servlet-class>
		com.ibm.dp.webServices.local.WarehouseMstFrmBotreeWebService</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>com_ibm_dp_webServices_local_AVRestrictionWebservice</servlet-name>
		<servlet-class>
		com.ibm.dp.webServices.local.AVRestrictionWebservice</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>com_ibm_dp_webServices_local_CanonDPDataWebservice</servlet-name>
		<servlet-class>
		com.ibm.dp.webServices.local.CanonDPDataWebservice</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>com_ibm_dp_webServices_local_AuthenticateUserId</servlet-name>
		<servlet-class>
		com.ibm.dp.webServices.local.AuthenticateUserId</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>com_ibm_dp_webServices_local_DistributorAVMapping</servlet-name>
		<servlet-class>
		com.ibm.dp.webServices.local.DistributorAVMapping</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>com_ibm_dp_webServices_local_SignInvoiceWebService</servlet-name>
		<servlet-class>
		com.ibm.dp.webServices.local.SignInvoiceWebService</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- adding by pratap for pull sms -->
	<servlet-mapping>
		<servlet-name>pullSms</servlet-name>
		<url-pattern>services/pullSms</url-pattern>
	</servlet-mapping>
<!-- end by pratap -->
	<servlet-mapping>
		<servlet-name>GetProperties</servlet-name>
		<url-pattern>/GetPropertiesServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>com_ibm_dp_webServices_local_OpenStockDepleteWebservice</servlet-name>
		<url-pattern>services/OpenStockDepleteWebservice</url-pattern>
	</servlet-mapping>
		
		<servlet-mapping>
		<servlet-name>ExportAssignStockServlet</servlet-name>
		<url-pattern>/ExportAssignStockServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>com_ibm_dp_webServices_local_RetailerInfoWebservice</servlet-name>
		<url-pattern>services/RetailerInfoWebservice</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>com_ibm_dp_webServices_local_STBStatusWebservice</servlet-name>
		<url-pattern>services/STBStatusWebservice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com_ibm_dp_webServices_local_POStatusUpdateWebservice</servlet-name>
		<url-pattern>services/POStatusUpdateWebservice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com_ibm_dp_webServices_local_DistributorSTBMapping</servlet-name>
		<url-pattern>services/DistributorSTBMapping</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com_ibm_dp_webServices_local_WarehouseMstFrmBotreeWebService</servlet-name>
		<url-pattern>services/WarehouseMstFrmBotreeWebService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com_ibm_dp_webServices_local_AVRestrictionWebservice</servlet-name>
		<url-pattern>services/AVRestrictionWebservice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com_ibm_dp_webServices_local_CanonDPDataWebservice</servlet-name>
		<url-pattern>services/CanonDPDataWebservice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com_ibm_dp_webServices_local_AuthenticateUserId</servlet-name>
		<url-pattern>services/AuthenticateUserId</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com_ibm_dp_webServices_local_DistributorAVMapping</servlet-name>
		<url-pattern>services/DistributorAVMapping</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>com_ibm_dp_webServices_local_SignInvoiceWebService</servlet-name>
		<url-pattern>services/SignInvoiceWebService</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>/jsp/authentication/index.jsp</welcome-file>
	</welcome-file-list>
	<jsp-config>
		<taglib>
			<taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-nested.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-template.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-template.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-tiles.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
		</taglib>
	</jsp-config>
	<env-entry>
		<env-entry-name>dao/UserDAO</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>com.ibm.appsecure.dao.UserDAOImpl</env-entry-value>
	</env-entry>
</web-app>